Repository openstack-archive/validations-common: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-common-functional, validations-common-reqcheck, validations-common-centos-8-molecule-check_selinux_mode, validations-common-centos-8-molecule-ntp, validations-common-centos-8-molecule-service_status, validations-common-centos-8-molecule-advanced_format_512e_support, validations-common-centos-8-molecule-dns, validations-common-centos-8-molecule-haproxy, validations-common-centos-8-molecule-check_cpu, validations-common-centos-8-molecule-check_ram, validations-common-centos-8-molecule-check_disk_space, validations-common-centos-8-molecule-xfs_check_ftype, validations-common-centos-8-molecule-check_latest_packages_version, validations-common-centos-8-molecule-validate_selinux, openstack-tox-docs, promote-openstack-tox-docs

validations-common-functional:
  parent: devstack
  run: playbooks/validations-common-functional.yaml
  post-run: playbooks/post.yaml
  timeout: 7200
  required-projects:
  - openstack/validations-libs
  - openstack/validations-common
  vars:
    devstack_localrc:
      USE_PYTHON3: true
    run_validation: true

validations-common-reqcheck:
  nodeset: centos-8
  parent: base
  run: playbooks/reqcheck.yaml
  timeout: 1600
  voting: false
  required-projects:
  - openstack/validations-common

validations-common-centos-8-molecule-check_selinux_mode:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_selinux_mode
  voting: false

validations-common-centos-8-molecule-ntp:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: ntp
  voting: false

validations-common-centos-8-molecule-service_status:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: service_status
  voting: false

validations-common-centos-8-molecule-advanced_format_512e_support:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: advanced_format_512e_support
  voting: false

validations-common-centos-8-molecule-dns:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: dns

validations-common-centos-8-molecule-haproxy:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: haproxy

validations-common-centos-8-molecule-check_cpu:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_cpu

validations-common-centos-8-molecule-check_ram:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_ram

validations-common-centos-8-molecule-check_disk_space:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_disk_space

validations-common-centos-8-molecule-xfs_check_ftype:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: xfs_check_ftype
  voting: false

validations-common-centos-8-molecule-check_latest_packages_version:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_latest_packages_version

validations-common-centos-8-molecule-validate_selinux:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: validate_selinux

Expanded docstrings for library subpackage.
  validations_common/library/__init__.py
  validations_common/library/check_package_update.py
  validations_common/library/reportentry.py
  validations_common/library/validations_read_ini.py
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Removing lookup_plugins data file directive
  setup.cfg
Due: validations-common-functional

fix var name in logging statement
  playbooks/coverchange.yaml
Due: validations-common-functional

reqcheck job is now voting
  .zuul.yaml
Due: validations-common-functional

Add missing font for PDF generation
  bindep.txt
Due: validations-common-functional

Removing validations-libs from test-requirements
  test-requirements.txt
Due: validations-common-functional

Test validations for false positives
  roles/validations/tasks/main.yaml
  roles/validations/tasks/run.yaml
  roles/validations/tasks/show.yaml
  roles/validations/tasks/validations.yaml
  roles/validations/vars/main.yaml
Due: validations-common-functional

Setting language for the python3.6 tox environment
  tox.ini
Due: validations-common-functional

callback adjustment for no hosts matched
  validations_common/callback_plugins/validation_json.py
  validations_common/tests/callback_plugins/test_validation_json.py
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Fix ntp validation to check chronyd service status on all nodes
  validations_common/playbooks/ntp.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

validations_read_ini refactoring
  validations_common/library/validations_read_ini.py
  validations_common/tests/library/test_validations_read_ini.py
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Dependency reorganization
  doc/source/conf.py
  test-requirements.txt
  tox.ini
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Update validations for Ansible 2.11
  .ansible-lint
  .pre-commit-config.yaml
  ansible-collections-requirements.yml
  molecule-requirements.txt
  playbooks/molecule/pre.yml
  test-requirements.txt
  tox.ini
  validations_common/roles/xfs_check_ftype/molecule/default/prepare.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_selinux_mode, validations-common-centos-8-molecule-ntp, validations-common-centos-8-molecule-service_status, validations-common-centos-8-molecule-advanced_format_512e_support, validations-common-centos-8-molecule-dns, validations-common-centos-8-molecule-haproxy, validations-common-centos-8-molecule-check_cpu, validations-common-centos-8-molecule-check_ram, validations-common-centos-8-molecule-check_disk_space, validations-common-centos-8-molecule-xfs_check_ftype, validations-common-centos-8-molecule-check_latest_packages_version, validations-common-centos-8-molecule-validate_selinux, openstack-tox-docs, promote-openstack-tox-docs

Add new metadata keys to the validation playbooks
  validations_common/playbooks/512e.yaml
  validations_common/playbooks/check-cpu.yaml
  validations_common/playbooks/check-disk-space-pre-upgrade.yaml
  validations_common/playbooks/check-disk-space.yaml
  validations_common/playbooks/check-ftype.yaml
  validations_common/playbooks/check-latest-packages-version.yaml
  validations_common/playbooks/check-ram.yaml
  validations_common/playbooks/check-selinux-mode.yaml
  validations_common/playbooks/dns.yaml
  validations_common/playbooks/no-op.yaml
  validations_common/playbooks/ntp.yaml
  validations_common/playbooks/service-status.yaml
  validations_common/playbooks/validate-selinux.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Use py3 as the default runtime for tox
  tox.ini
Due: validations-common-functional

Elevating priviledges for the check_package_update
  validations_common/roles/check_latest_packages_version/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_latest_packages_version, openstack-tox-docs, promote-openstack-tox-docs

Adding more validations in the tripleo component test
  roles/validations/vars/main.yaml
Due: validations-common-functional

Validation Framework functional test expansion
  roles/fetch_validations/tasks/main.yaml
  roles/validations/tasks/list.yaml
  roles/validations/tasks/list_validation_history.yaml
  roles/validations/tasks/main.yaml
  roles/validations/tasks/run_extra_vars_file.yaml
  roles/validations/tasks/show.yaml
  roles/validations/tasks/show_results.yaml
  roles/validations/tasks/show_validation_info.yaml
  roles/validations/vars/main.yaml
Due: validations-common-functional

CI task for execution of all packaged validations
  roles/validations/defaults/main.yaml
  roles/validations/tasks/execute_full_catalogue.yaml
  roles/validations/tasks/main.yaml
  roles/validations/vars/main.yaml
Due: validations-common-functional

Run all validations and fail after for CI role
  roles/validations/tasks/main.yaml
  roles/validations/tasks/run.yaml
Due: validations-common-functional

Add baremetal Component for component CI tests
  roles/validations/vars/main.yaml
Due: validations-common-functional

Create clients component for CI Validations Jobs
  roles/validations/vars/main.yaml
Due: validations-common-functional

Create security component for CI Validations component jobs
  roles/validations/vars/main.yaml
Due: validations-common-functional

add pre-update and pre-upgrade groups to ntp playbook
  validations_common/playbooks/ntp.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Bumping the ansible-lint version to 5.3.2 in order to resolve CI failure
  .pre-commit-config.yaml
Due: validations-common-functional

Molecule test restoration
  .config/molecule/Dockerfile
  .config/molecule/config.yml
  .zuul.yaml
  LICENSE
  playbooks/molecule/pre.yml
  scripts/bindep-install
  test-requirements.txt
  tests/hosts.ini
  tox.ini
  validations_common/roles/service_status/molecule/default/molecule.yml
  validations_common/roles/service_status/molecule/docker/molecule.yml
  validations_common/roles/service_status/molecule/systemd/molecule.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_selinux_mode, validations-common-centos-8-molecule-ntp, validations-common-centos-8-molecule-service_status, validations-common-centos-8-molecule-advanced_format_512e_support, validations-common-centos-8-molecule-dns, validations-common-centos-8-molecule-haproxy, validations-common-centos-8-molecule-check_cpu, validations-common-centos-8-molecule-check_ram, validations-common-centos-8-molecule-check_disk_space, validations-common-centos-8-molecule-xfs_check_ftype, validations-common-centos-8-molecule-check_latest_packages_version, validations-common-centos-8-molecule-validate_selinux, openstack-tox-docs, promote-openstack-tox-docs

fix(ci): Install python3 package first
  scripts/run-local-test
Due: validations-common-functional

fix(molecule): Add ability to run molecule on Fedora
  README.rst
  ansible-collections-requirements.yml
  bindep.txt
  scripts/run-local-test
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

feat(removal): tox-ansible support
  tox.ini
Due: validations-common-functional

Migrate jobs from CentOS 8 to CentOS 8 Stream
  .zuul.yaml
Due: validations-common-functional

New validation for checking presence of running rsyslog service.
  .zuul.yaml
  validations_common/playbooks/check-rsyslog.yaml
  validations_common/roles/check_rsyslog/defaults/main.yaml
  validations_common/roles/check_rsyslog/molecule/default/converge.yml
  validations_common/roles/check_rsyslog/molecule/default/molecule.yml
  validations_common/roles/check_rsyslog/tasks/main.yaml
  validations_common/roles/check_rsyslog/tasks/systemctl.yaml
  validations_common/roles/check_rsyslog/tasks/yum.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Modifying catalogue execution test to resolve component pipeline issue
  roles/validations/defaults/main.yaml
  roles/validations/files/catalog_vars_override.yaml
  roles/validations/tasks/execute_full_catalogue.yaml
  roles/validations/tasks/main.yaml
  roles/validations/vars/main.yaml
Due: validations-common-functional

setup.cfg: Replace dashes by underscores
  setup.cfg
Due: validations-common-functional

Update .gitreview for stable/1.6
  .gitreview
Due: validations-common-functional

Update master for stable/1.6
  releasenotes/source/1.6.rst
  releasenotes/source/index.rst
Due: none

removing callbacks from validations-common
  setup.cfg
  tools/http_server.py
  validations_common/callback_plugins/__init__.py
  validations_common/callback_plugins/fail_if_no_hosts.py
  validations_common/callback_plugins/http_json.py
  validations_common/callback_plugins/validation_json.py
  validations_common/callback_plugins/validation_output.py
  validations_common/callback_plugins/validation_stdout.py
  validations_common/tests/callback_plugins/__init__.py
  validations_common/tests/callback_plugins/test_fail_if_no_hosts.py
  validations_common/tests/callback_plugins/test_http_json.py
  validations_common/tests/callback_plugins/test_validation_json.py
  validations_common/tests/callback_plugins/test_validation_output.py
  validations_common/tests/callback_plugins/test_validation_stdout.py
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Centos 9 jobs for validations common
  .zuul.yaml
  playbooks/reqcheck.yaml
Due: validations-common-functional

Removing coverchange job
  .zuul.yaml
  playbooks/coverchange.yaml
Due: validations-common-functional

Path conditions:
  validations-common-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  validations-common-reqcheck: any of: ^requirements.txt$
  validations-common-centos-8-molecule-check_selinux_mode: (any of: ^validations_common/roles/check_selinux_mode/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_selinux_mode/.*)
  validations-common-centos-8-molecule-ntp: (any of: ^validations_common/roles/ntp/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/ntp/.*)
  validations-common-centos-8-molecule-service_status: (any of: ^validations_common/roles/service_status/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/service_status/.*)
  validations-common-centos-8-molecule-advanced_format_512e_support: (any of: ^validations_common/roles/advanced_format_512e_support/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/advanced_format_512e_support/.*)
  validations-common-centos-8-molecule-dns: (any of: ^validations_common/roles/dns/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/dns/.*)
  validations-common-centos-8-molecule-haproxy: (any of: ^validations_common/roles/haproxy/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/haproxy/.*)
  validations-common-centos-8-molecule-check_cpu: (any of: ^validations_common/roles/check_cpu/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_cpu/.*)
  validations-common-centos-8-molecule-check_ram: (any of: ^validations_common/roles/check_ram/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_ram/.*)
  validations-common-centos-8-molecule-check_disk_space: (any of: ^validations_common/roles/check_disk_space/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_disk_space/.*)
  validations-common-centos-8-molecule-xfs_check_ftype: (any of: ^validations_common/roles/xfs_check_ftype/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/xfs_check_ftype/.*)
  validations-common-centos-8-molecule-check_latest_packages_version: (any of: ^validations_common/roles/check_latest_packages_version/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_latest_packages_version/.*)
  validations-common-centos-8-molecule-validate_selinux: (any of: ^validations_common/roles/validate_selinux/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/validate_selinux/.*)
  openstack-tox-docs: any of: ^doc/.*, ^README.rst, ^validations_common/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst, ^validations_common/.*
