Repository openstack-archive/validations-common: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-common-functional, validations-common-centos-8-molecule-check_selinux_mode, validations-common-centos-8-molecule-ntp, validations-common-centos-8-molecule-service_status, validations-common-centos-8-molecule-advanced_format_512e_support, validations-common-centos-8-molecule-dns, validations-common-centos-8-molecule-haproxy, validations-common-centos-8-molecule-check_cpu, validations-common-centos-8-molecule-check_ram, validations-common-centos-8-molecule-check_disk_space, validations-common-centos-8-molecule-xfs_check_ftype, validations-common-centos-8-molecule-check_latest_packages_version, validations-common-centos-8-molecule-validate_selinux

Path conditions:
  validations-common-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  validations-common-centos-8-molecule-check_selinux_mode: any of: ^validations_common/roles/check_selinux_mode/.*
  validations-common-centos-8-molecule-ntp: any of: ^validations_common/roles/ntp/.*
  validations-common-centos-8-molecule-service_status: any of: ^validations_common/roles/service_status/.*
  validations-common-centos-8-molecule-advanced_format_512e_support: any of: ^validations_common/roles/advanced_format_512e_support/.*
  validations-common-centos-8-molecule-dns: any of: ^validations_common/roles/dns/.*
  validations-common-centos-8-molecule-haproxy: any of: ^validations_common/roles/haproxy/.*
  validations-common-centos-8-molecule-check_cpu: any of: ^validations_common/roles/check_cpu/.*
  validations-common-centos-8-molecule-check_ram: any of: ^validations_common/roles/check_ram/.*
  validations-common-centos-8-molecule-check_disk_space: any of: ^validations_common/roles/check_disk_space/.*
  validations-common-centos-8-molecule-xfs_check_ftype: any of: ^validations_common/roles/xfs_check_ftype/.*
  validations-common-centos-8-molecule-check_latest_packages_version: any of: ^validations_common/roles/check_latest_packages_version/.*
  validations-common-centos-8-molecule-validate_selinux: any of: ^validations_common/roles/validate_selinux/.*

File validation extended to callback_plugins, main loop optimized
  tools/validate-files.py
Due: validations-common-functional

Temporary fetch logs adjustement to detect log folder
  roles/fetch_validations/tasks/main.yaml
Due: validations-common-functional

Reqcheck job for upstream validations-common
  .reqcheck_override.yaml
  .zuul.yaml
  playbooks/reqcheck.yaml
Due: validations-common-functional

Adds dockerignore to the repo
  .dockerignore
Due: validations-common-functional

Unblocking the openstack-tox-docs job.
  .zuul.yaml
  doc/source/_exts/ansible-autodoc.py
  tox.ini
  validations_common/tests/callback_plugins/test_validation_json.py
Due: validations-common-functional

Licences are now listed for all requirements.
  doc/requirements.txt
  molecule-requirements.txt
  requirements.txt
Due: validations-common-functional

Remove Jinja2 constraint
  molecule-requirements.txt
Due: validations-common-functional

Rename local variable component to validation_component for Upstream CI
  .zuul.yaml
  roles/validations/defaults/main.yaml
  roles/validations/tasks/main.yaml
Due: validations-common-functional

Trigger molecule jobs when modifying the following files
  .zuul.yaml
Due: validations-common-functional

Bump molecule to 3.3.1
  molecule-requirements.txt
Due: validations-common-functional

Renamed variable to something more illuminating.
  validations_common/callback_plugins/validation_json.py
  validations_common/callback_plugins/validation_stdout.py
  validations_common/tests/callback_plugins/test_validation_json.py
  validations_common/tests/callback_plugins/test_validation_stdout.py
Due: validations-common-functional

Remove haproxy validation from validations-common
  .zuul.yaml
  doc/source/modules/modules-haproxy_conf.rst
  doc/source/roles/role-haproxy.rst
  validations_common/library/haproxy_conf.py
  validations_common/playbooks/haproxy.yaml
  validations_common/roles/haproxy/README.md
  validations_common/roles/haproxy/defaults/main.yml
  validations_common/roles/haproxy/molecule/default/converge.yml
  validations_common/roles/haproxy/molecule/default/molecule.yml
  validations_common/roles/haproxy/tasks/main.yml
  validations_common/tests/library/test_haproxy_conf.py
Due: validations-common-functional, validations-common-centos-8-molecule-haproxy

Update Validations Framework IRC channels
  doc/source/contributing.rst
Due: none

functools provide reduce instead of the ansible
  validations_common/callback_plugins/validation_json.py
  validations_common/callback_plugins/validation_stdout.py
Due: validations-common-functional

New location of the default log directory.
  validations_common/callback_plugins/validation_json.py
Due: validations-common-functional

Enabling indentation rule for yamllint.
  .yamllint
Due: validations-common-functional

Removing the 'PIP_+' string from tox.ini
  tox.ini
Due: validations-common-functional

Removing superfluous imports from tests
  validations_common/tests/callback_plugins/test_fail_if_no_hosts.py
  validations_common/tests/callback_plugins/test_validation_json.py
  validations_common/tests/callback_plugins/test_validation_output.py
  validations_common/tests/callback_plugins/test_validation_stdout.py
  validations_common/tests/library/test_check_package_update.py
Due: validations-common-functional

Correct the tox option for skipping sdist generation
  tox.ini
Due: validations-common-functional

Loop variable name conflict resolution
  roles/validations/tasks/run.yaml
  roles/validations/tasks/validations.yaml
Due: validations-common-functional

Remove messages very specific to CI
  validations_common/roles/service_status/tasks/containers.yaml
Due: validations-common-functional, validations-common-centos-8-molecule-service_status

Reorganize CONTRIBUTING information
  CONTRIBUTING.rst
  README.rst
  doc/source/contributing.rst
  doc/source/index.rst
  doc/source/installation.rst
Due: none

Allow comments in variable files to be rendered in docs
  doc/requirements.txt
  doc/source/_exts/ansible-autodoc.py
Due: none

Fix the way we handle validation cli command in CI role
  roles/validations/defaults/main.yaml
  roles/validations/tasks/main.yaml
  roles/validations/vars/main.yaml
Due: validations-common-functional

[check_cpu] Remove README.md file
  doc/source/roles/role-check_cpu.rst
  validations_common/roles/check_cpu/README.md
  validations_common/roles/check_cpu/defaults/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_cpu

[check_disk_space] Add role documentation in sphinx
  doc/source/roles/role-check_disk_space.rst
  validations_common/playbooks/check-disk-space.yaml
  validations_common/roles/check_disk_space/defaults/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_disk_space

[check_latest_packages_version] Add role documentation in sphinx
  doc/source/roles/role-check_latest_packages_version.rst
  validations_common/roles/check_latest_packages_version/defaults/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_latest_packages_version

[check_ram] Remove README.md file
  doc/source/roles/role-check_ram.rst
  validations_common/roles/check_ram/README.md
  validations_common/roles/check_ram/defaults/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_ram

[check_selinux_mode] Add role documentation in sphinx
  doc/source/roles/role-check_selinux_mode.rst
  validations_common/roles/check_selinux_mode/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_selinux_mode

[dns] Add role documentation in sphinx
  doc/source/roles/role-dns.rst
  validations_common/playbooks/dns.yaml
  validations_common/roles/dns/defaults/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-dns

[no_op] Add role documentation in sphinx
  doc/source/roles/role-no_op.rst
  validations_common/playbooks/no-op.yaml
Due: validations-common-functional

[ntp] Add role documentation in sphinx
  doc/source/roles/role-ntp.rst
  validations_common/playbooks/ntp.yaml
Due: validations-common-functional

[service_status] Add role documentation in sphinx
  doc/source/roles/role-service_status.rst
  validations_common/playbooks/service-status.yaml
  validations_common/roles/service_status/defaults/main.yaml
Due: validations-common-functional, validations-common-centos-8-molecule-service_status

[validate_selinux] Add role documentation in sphinx
  doc/source/roles/role-validate_selinux.rst
  validations_common/playbooks/validate-selinux.yaml
  validations_common/roles/validate_selinux/defaults/main.yml
  validations_common/roles/validate_selinux/handlers/main.yml
  validations_common/roles/validate_selinux/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-validate_selinux

Enforce some better rights on temporary files
  validations_common/roles/validate_selinux/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-validate_selinux

[xfs_check_ftype] Add role documentation in sphinx
  doc/source/roles/role-xfs_check_ftype.rst
  validations_common/playbooks/check-ftype.yaml
Due: validations-common-functional

[advanced_format_512e_support] Add role documentation in sphinx
  doc/source/roles/role-advanced_format_512e_support.rst
  validations_common/playbooks/512e.yaml
Due: validations-common-functional

Remove content-provider to decrease CI time
  .zuul.yaml
Due: validations-common-functional

Callback logging unification
  validations_common/callback_plugins/validation_json.py
Due: validations-common-functional

Coverage change job
  .zuul.yaml
  playbooks/coverchange.yaml
Due: validations-common-functional
