Repository openstack-archive/validations-common: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-common-functional, validations-common-reqcheck, validations-common-centos-8-molecule-check_selinux_mode, validations-common-centos-8-molecule-ntp, validations-common-centos-8-molecule-service_status, validations-common-centos-8-molecule-advanced_format_512e_support, validations-common-centos-8-molecule-dns, validations-common-centos-8-molecule-haproxy, validations-common-centos-8-molecule-check_cpu, validations-common-centos-8-molecule-check_ram, validations-common-centos-8-molecule-check_disk_space, validations-common-centos-8-molecule-xfs_check_ftype, validations-common-centos-8-molecule-check_latest_packages_version, validations-common-centos-8-molecule-validate_selinux, openstack-tox-docs, promote-openstack-tox-docs

validations-common-functional:
  parent: devstack
  run: playbooks/validations-common-functional.yaml
  post-run: playbooks/post.yaml
  timeout: 7200
  required-projects:
  - openstack/validations-libs
  - openstack/validations-common
  vars:
    devstack_localrc:
      USE_PYTHON3: true
    run_validation: true

validations-common-reqcheck:
  nodeset: centos-8
  parent: base
  run: playbooks/reqcheck.yaml
  timeout: 1600
  voting: false
  required-projects:
  - openstack/validations-common

validations-common-centos-8-molecule-check_selinux_mode:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_selinux_mode
  voting: false

validations-common-centos-8-molecule-ntp:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: ntp
  voting: false

validations-common-centos-8-molecule-service_status:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: service_status
  voting: false

validations-common-centos-8-molecule-advanced_format_512e_support:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: advanced_format_512e_support
  voting: false

validations-common-centos-8-molecule-dns:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: dns

validations-common-centos-8-molecule-haproxy:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: haproxy

validations-common-centos-8-molecule-check_cpu:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_cpu

validations-common-centos-8-molecule-check_ram:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_ram

validations-common-centos-8-molecule-check_disk_space:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_disk_space

validations-common-centos-8-molecule-xfs_check_ftype:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: xfs_check_ftype
  voting: false

validations-common-centos-8-molecule-check_latest_packages_version:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: check_latest_packages_version

validations-common-centos-8-molecule-validate_selinux:
  parent: validations-common-centos-8-base
  vars:
    validations_common_role_name: validate_selinux

Setting default branch of devstack repositories for functional tests
  .zuul.yaml
Due: validations-common-functional

Removing leftover coverchange reference
  .zuul.yaml
Due: validations-common-functional

Removing coverchange job
  .zuul.yaml
  playbooks/coverchange.yaml
Due: validations-common-functional

Determine if there is any known good tripleo inventory
  roles/validations/defaults/main.yaml
  roles/validations/tasks/main.yaml
Due: validations-common-functional

Bugfix: Add missing become: true to 2 tasks
  validations_common/roles/validate_selinux/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-validate_selinux, openstack-tox-docs, promote-openstack-tox-docs

Removing references to Babel
  setup.cfg
Due: validations-common-functional

Setting default inventory to 0 length string
  roles/validations/defaults/main.yaml
  roles/validations/tasks/main.yaml
Due: validations-common-functional

Normalizing VF metadata
  setup.cfg
Due: validations-common-functional

setup.cfg: Replace dashes by underscores
  setup.cfg
Due: validations-common-functional

[Stable-Only] Refactoring validations-common stable branch CI pipeliene
  .zuul.yaml
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Explaining stable branches in CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: none

Adjustment of the validations-common contribution docs
  .zuul.yaml
  CONTRIBUTING.rst
  doc/source/contributing.rst
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Update py36 to py38 tox jobs
  .zuul.yaml
Due: validations-common-functional

Python 3.6 support removal
  setup.cfg
Due: validations-common-functional

Bumping flake8-typing-imports to version 1.12.0
  .pre-commit-config.yaml
Due: validations-common-functional

Update python testing as per zed cycle testing runtime
  releasenotes/notes/drop-python-3-6-and-3-7-be8da40ef6f158fa.yaml
  setup.cfg
Due: validations-common-functional

Restoring variables lost in merge commit
  roles/validations/vars/main.yaml
Due: validations-common-functional

New validation: verify_package
  validations_common/playbooks/verify-package.yaml
  validations_common/roles/verify_package/README.md
  validations_common/roles/verify_package/defaults/main.yml
  validations_common/roles/verify_package/tasks/main.yml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Enabling pep8 linting and fixing style violations
  tox.ini
  validations_common/library/validations_read_ini.py
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

[Stable/1.6-Only] Setting docs job and bindep for stable/1.6
  .zuul.yaml
  bindep.txt
  doc/requirements.txt
  tox.ini
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Changing filter pattern on setup module call
  roles/validations/vars/main.yaml
  validations_common/roles/check_rsyslog/tasks/main.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

Add the default filter so the validations have default fallback
  roles/validations/tasks/run.yaml
Due: validations-common-functional

Setting variable override for check-cpu in catalogue tests
  roles/validations/files/catalog_vars_override.yaml
Due: validations-common-functional

remove unicode prefix from code
  doc/source/conf.py
  releasenotes/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Moving verify-packages validation into 'pre-deployment' group
  validations_common/playbooks/verify-package.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs

The tox.ini file edited to explicitly define the python runtime environment
  tox.ini
Due: validations-common-functional

Adding validations to the catalogue test
  roles/validations/vars/main.yaml
Due: validations-common-functional

Adding CI task for clean up of existing validation logs
  roles/validations/tasks/main.yaml
Due: validations-common-functional

Retargetting log removal task
  roles/validations/tasks/main.yaml
Due: validations-common-functional

Disabling undercloud-tokenflush in catalogue tests
  roles/validations/vars/main.yaml
Due: validations-common-functional

Remove python-dev from bindep
  bindep.txt
Due: validations-common-functional

Pull flake8 from Github
  .pre-commit-config.yaml
Due: validations-common-functional

Bumping basepython version of the tox environments to 3.10
  tox.ini
Due: validations-common-functional

Path conditions:
  validations-common-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  validations-common-reqcheck: any of: ^requirements.txt$
  validations-common-centos-8-molecule-check_selinux_mode: (any of: ^validations_common/roles/check_selinux_mode/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_selinux_mode/.*)
  validations-common-centos-8-molecule-ntp: (any of: ^validations_common/roles/ntp/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/ntp/.*)
  validations-common-centos-8-molecule-service_status: (any of: ^validations_common/roles/service_status/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/service_status/.*)
  validations-common-centos-8-molecule-advanced_format_512e_support: (any of: ^validations_common/roles/advanced_format_512e_support/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/advanced_format_512e_support/.*)
  validations-common-centos-8-molecule-dns: (any of: ^validations_common/roles/dns/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/dns/.*)
  validations-common-centos-8-molecule-haproxy: (any of: ^validations_common/roles/haproxy/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/haproxy/.*)
  validations-common-centos-8-molecule-check_cpu: (any of: ^validations_common/roles/check_cpu/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_cpu/.*)
  validations-common-centos-8-molecule-check_ram: (any of: ^validations_common/roles/check_ram/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_ram/.*)
  validations-common-centos-8-molecule-check_disk_space: (any of: ^validations_common/roles/check_disk_space/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_disk_space/.*)
  validations-common-centos-8-molecule-xfs_check_ftype: (any of: ^validations_common/roles/xfs_check_ftype/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/xfs_check_ftype/.*)
  validations-common-centos-8-molecule-check_latest_packages_version: (any of: ^validations_common/roles/check_latest_packages_version/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_latest_packages_version/.*)
  validations-common-centos-8-molecule-validate_selinux: (any of: ^validations_common/roles/validate_selinux/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/validate_selinux/.*)
  openstack-tox-docs: any of: ^doc/.*, ^README.rst, ^validations_common/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst, ^validations_common/.*
