Repository openstack-archive/validations-common: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-common-functional, validations-common-reqcheck, validations-common-centos-8-molecule-check_selinux_mode, validations-common-centos-8-molecule-ntp, validations-common-centos-8-molecule-service_status, validations-common-centos-8-molecule-advanced_format_512e_support, validations-common-centos-8-molecule-dns, validations-common-centos-8-molecule-check_cpu, validations-common-centos-8-molecule-check_ram, validations-common-centos-8-molecule-check_disk_space, validations-common-centos-8-molecule-xfs_check_ftype, validations-common-centos-8-molecule-check_latest_packages_version, validations-common-centos-8-molecule-validate_selinux, validations-common-centos-8-molecule-check_rsyslog, openstack-tox-docs, promote-openstack-tox-docs, validations-common-centos-8-molecule-haproxy

Path conditions:
  validations-common-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  validations-common-reqcheck: any of: ^requirements.txt$
  validations-common-centos-8-molecule-check_selinux_mode: (any of: ^validations_common/roles/check_selinux_mode/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_selinux_mode/.*)
  validations-common-centos-8-molecule-ntp: (any of: ^validations_common/roles/ntp/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/ntp/.*)
  validations-common-centos-8-molecule-service_status: (any of: ^validations_common/roles/service_status/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/service_status/.*)
  validations-common-centos-8-molecule-advanced_format_512e_support: (any of: ^validations_common/roles/advanced_format_512e_support/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/advanced_format_512e_support/.*)
  validations-common-centos-8-molecule-dns: (any of: ^validations_common/roles/dns/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/dns/.*)
  validations-common-centos-8-molecule-check_cpu: (any of: ^validations_common/roles/check_cpu/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_cpu/.*)
  validations-common-centos-8-molecule-check_ram: (any of: ^validations_common/roles/check_ram/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_ram/.*)
  validations-common-centos-8-molecule-check_disk_space: (any of: ^validations_common/roles/check_disk_space/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_disk_space/.*)
  validations-common-centos-8-molecule-xfs_check_ftype: (any of: ^validations_common/roles/xfs_check_ftype/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/xfs_check_ftype/.*)
  validations-common-centos-8-molecule-check_latest_packages_version: (any of: ^validations_common/roles/check_latest_packages_version/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/check_latest_packages_version/.*)
  validations-common-centos-8-molecule-validate_selinux: (any of: ^validations_common/roles/validate_selinux/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt) or (any of: ^validations_common/roles/validate_selinux/.*)
  validations-common-centos-8-molecule-check_rsyslog: any of: ^validations_common/roles/check_rsyslog/.*, ^tests/prepare-test-host.yml, ^playbooks/molecule/pre.yml, ^playbooks/molecule/run.yml, ^molecule-requirements.txt
  openstack-tox-docs: any of: ^doc/.*, ^README.rst, ^validations_common/.*, ^CONTRIBUTING.rst
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst, ^validations_common/.*, ^CONTRIBUTING.rst
  validations-common-centos-8-molecule-haproxy: any of: ^validations_common/roles/haproxy/.*

[stable/1.6 only] ubuntu focal nodeset for the linter and cover jobs
  .zuul.yaml
Due: validations-common-functional

Fix ansible 2.14 incompatibility
  validations_common/roles/check_latest_packages_version/molecule/default/prepare.yml
Due: validations-common-functional, validations-common-centos-8-molecule-check_latest_packages_version, openstack-tox-docs, promote-openstack-tox-docs

[stable/1.6 only] Setting default interpreter for tox docs env to generic Python3
  tox.ini
Due: validations-common-functional

Bugfix: Add missing become: true to 2 tasks
  validations_common/roles/validate_selinux/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-validate_selinux, openstack-tox-docs, promote-openstack-tox-docs

Tox docs job moved to ubuntu-focal nodeset
  .zuul.yaml
Due: validations-common-functional

Changes needed for full functionality of tox 4.0.0 runtime
  tox.ini
Due: validations-common-functional

Adding fallback mechanism to ntp validation role
  validations_common/roles/ntp/tasks/main.yml
Due: validations-common-functional, validations-common-centos-8-molecule-ntp, openstack-tox-docs, promote-openstack-tox-docs

bump tox minversion to 4.0.0 for master
  tox.ini
Due: validations-common-functional

Improving development containerfile IDE integration
  .devcontainer/devcontainer.json
  .dockerignore
  Dockerfile
Due: validations-common-functional

Resolving catalog test entries for image-serve and undercloud-tokenflush
  roles/validations/vars/main.yaml
Due: validations-common-functional

Set fact for run_results returns error when previous validation run is skipped
  roles/validations/tasks/run.yaml
Due: validations-common-functional

Functional test for running validations from file
  roles/validations/defaults/main.yaml
  roles/validations/tasks/execute_full_catalogue.yaml
  roles/validations/tasks/file.yaml
  roles/validations/tasks/list.yaml
  roles/validations/tasks/main.yaml
  roles/validations/tasks/run.yaml
  roles/validations/tasks/run_extra_vars_file.yaml
  roles/validations/tasks/show_validation_info.yaml
  roles/validations/templates/file-template.j2
  roles/validations/vars/main.yaml
Due: validations-common-functional

Bumping yamllint to 1.30.0
  .pre-commit-config.yaml
Due: validations-common-functional

Add missing validations in the documentations
  doc/source/roles/check-disk-space-pre-upgrade.rst
  doc/source/roles/check-rsyslog.rst
  doc/source/roles/verify-package.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Removing OOO branch jobs
  .zuul.yaml
Due: validations-common-functional

Remove the check latest packages version.
  validations_common/playbooks/check-latest-packages-version.yaml
Due: validations-common-functional, openstack-tox-docs, promote-openstack-tox-docs
